body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.is-active {
  font-weight: bold;
  color: white;
}

.active {
  font-weight: bold;
  color: red;
}

.inactive {
  font-weight: bold;
  color: red;
}

ol {
  font-size: 15px;
  color: red;
}